<section class="todoapp">
  <header class="header">
    <h1>todos</h1>

     <form id="new-form">
       <input class="new-todo" placeholder="What needs to be done?" autofocus="">
    </form>
    
  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Mumtaz", "http://github.com/mumtaz7" %>
</section>


